@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #edf0f1;
}
body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

/* NAVBAR CSS START */
header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #24252a;
} 
.logo {
    cursor: default;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: #edf0f1;
}
.logo span {
    color: #F7C04A;
}
.navlinks a,
.cta,.btn,
.overlay__content a {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}
.navlinks {
    list-style: none;
    display: flex;
}
.navlinks li {
    padding: 0px 20px;
}
.navlinks li a {
    transition: color 0.3s ease 0s;
}
.navlinks li a:hover {
    color: #FFD966;
}
.navlinks li a.active {
    color: #FFD966;
}
.cta {
    padding: 9px 25px;
    background-color: #ffbf36;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
} 
.cta:hover {
    background-color: #EBB02D;
}
/* MOBILE */
.menu {
    display: none;
  }
  
  .overlay {
    margin-top: 70px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus,
  .overlay a.active {
    color: #FFD966;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
/* NAVBAR CSS END */

/* CONTENT HOME START */
.banner {
    background: url(/img/IMG_20230318_191234.jpg)
    no-repeat center center;
    /* background-size: cover; */
    padding-top: 270px;
    padding-bottom: 100px;
    color: #fff;
}
.banner h4 {
    font-size: 25px;
}
.btn {
    padding: 9px 25px;
    margin-top: 30px;
    background-color: #ffbf36;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
} 
.btn:hover {
    background-color: #EBB02D;
}
/* CONTENT HOME END */
/* CONTENT TUGAS START */
.border1 {
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-top: 3px solid #F7C04A;
    border-bottom: 3px solid #F7C04A;
    border-radius: 2em;
    background-color: #faf8f8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.border1 h2 {
    font-size: 25px;
}
.border1 p {
    margin-top: 10px;
}
.border2 {
    display: inline-flex;
}
.border2_1 {
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 25px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 2em;
    background-color: #faf8f8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.border2_2 {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 120px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 2em;
    background-color: #faf8f8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.border2_1 h2,.border2_2 h2 {
    font-size: 25px;
}
.border2_1 p,.border2_2 p {
    margin-top: 20px;
    font-size: 15px;
}
.border3 {
    display: inline-flex;
}
.border3_1 {
    margin-left: 120px;
    margin-right: 25px;
    margin-bottom: 50px;
    padding: 25px;
    border-top: 3px solid #F7C04A;
    border-bottom: 3px solid #F7C04A;
    border-radius: 2em;
    background-color: #faf8f8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.border3_2 {
    margin-left: 25px;
    margin-right: 120px;
    margin-bottom: 50px;
    padding: 25px;
    border-top: 3px solid #F7C04A;
    border-bottom: 3px solid #F7C04A;
    border-radius: 2em;
    background-color: #faf8f8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.border3_1 .text h2,.border3_2 .text h2{
    font-size: 20px;
}
.border3_1 img, .border3_2 img {
    border-radius: 50%;
    width: 180px;
}
.border3_1 h2, .border3_2 h2{
    font-size: 25px;
}
.border3_1 .par2 p, .border3_2 .par2 p {
    font-size: 8px;
}
.border3_1 p, .border3_2 p {
    font-size: 15px;
}
.border4 {
    margin-top: 0px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 2em;
    background-color: #faf8f8;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.border4 p {
    margin-top: 10px;
}
/* CONTENT TUGAS END */


/* FOOTER START */
.footer-distributed{
	background: #313131;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}
.footer-distributed .footer-left img {
    width: 40px;
    margin-bottom: -8px;
}
/* The company logo */
.footer-distributed h3{
	color:  #edf0f1;
	font-size: 30px;
	margin: 0;
}
.footer-distributed h3 span{
	color:  #F7C04A;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #edf0f1;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #92999f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #edf0f1;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope,.footer-center i.fa-map-marked{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #edf0f1;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #F7C04A;
	text-decoration: none;;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #edf0f1;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #edf0f1;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #edf0f1;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
/* MY */
footer {
    padding: 25px;
    background-color: #24252a;
    color: #edf0f1;
}
/* FOOTER END */
